<div flex layout="row" data-ng-controller="HomeController">

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
          <md-list>
            <md-item ng-repeat="it in ul.layers">
                <md-button ng-click="ul.selectLayer(it)" ng-class="{'selected' : it === ul.selected }">
                  <md-icon md-svg-icon="{{it.icon}}" class="avatar"></md-icon>
                  {{it.name}}
                </md-button>
            </md-item>
          </md-list>
        </md-sidenav>

        <md-content flex layout="row" id="content">
            <div flex layout="row" class="drawingboard">
                <canvas ng-click="addAP($event)"></canvas>
            </div>
        </md-content>

</div>
