body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #dedede;
  background: url('/modules/core/img/artwork/dark-grey-tiles.jpg');
  background-size: cover;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #444;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #444;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #222;
}

.clear {
	clear: both;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom, #1c2331 0%, #000 100%);
}

.content {
	margin-top: 50px;
}

.content a:focus, .content ng-md-icon:focus {
	border: none;
	outline: none;
}

.fullsize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ptop5 {
	padding-top: 7px;
}

.red {
	color: #a44;
}

.green {
	color: #4a4;
}

section > div > div {
    padding: 0 2em;
}

.pointer {
  cursor: pointer;
}

.nav a {
    cursor: pointer;
}

.navbar-brand img {
    max-height: 33px;
    margin-top: -5px;
}

.topright {
    position: absolute;
    top: 0;
    right: 0;
}

.topright .glyphicon-trash, .topright .glyphicon-remove {
    font-size: 19px;
    border-radius: 50%;
    background: #eee;
    width: 120px;
    height: 120px;
    padding-top: 81px;
    padding-right: 82px;
    margin-top: -70px;
    margin-right: -70px;
    box-shadow: inset 1px 1px 6px rgba(0,0,80,0.4);
}

.topright .glyphicon-trash:hover, .topright .glyphicon-remove:hover {
  color: #a88;
  background: #fef;
}

.bottomright {
	position: absolute;
	bottom: 0;
	right: 0;
}

.bottomright .glyphicon {
	font-size: 22px;
    padding: 10px;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    color: #444;
}

.bottomright .glyphicon:hover {
  color: #a88;
  background: #fef;
}

.padtop {
	padding-top: 10px;
}

.md-whiteframe-z2 {
    padding: 20px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

canvas {
    margin: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	background: white;
}

.inline {
	display: inline-block;
	vertical-align: middle;
}

#context_menu {
    display: none;
	border-radius: 8px;
    z-index: 10000;
    -webkit-box-shadow: 2px 2px 15px 5px rgba(10,10,10,.5);
    -moz-box-shadow: 2px 2px 15px 5px rgba(10,10,10,.5);
    -o-box-shadow: 2px 2px 15px 5px rgba(10,10,10,.5);
    box-shadow: 2px 2px 15px 5px rgba(10,10,10,.5);
}

#context_menu .panel {
	min-width: 400px;
	margin-bottom: 0;
	border-radius: 8px;
}

#context_menu .panel-heading {
	cursor: move;
	padding: 5px;
    position: relative;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#context_menu .panel-title div {
	float: right;
}

#context_menu .panel-title span {
	text-transform: uppercase;
}

#context_menu .dropdown-menu {
	display: block;
}

#context_menu.open {
    display: block;
}

.group {
  position:relative;
  margin-top: 45px;
}
.group input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
.group label {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
}

/* active state */
.group input:focus ~ label, .group input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
  width:50%;
}
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.group input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}
