.position-fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.md-button ng-md-icon {
    line-height: 30px;
    vertical-align: text-top;
}

.plan-property-item {
    max-width: 640px;
}

.sheet-bg {
    background: url("http://farm8.static.flickr.com/6058/6430440053_0083658254_b.jpg");
}

.overlay-sheet {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    min-height: 100%;
    top: 0;
    transition: all linear 0.2s;
}

.overlay-sheet.ng-hide {
    top: 400px;
}

.overlay-sheet.loading {
    background-color: white;
    z-index: 11;
}

.plan-properties {
    max-width: 1240px;
}

.side-details {
    padding: 1em 0.5em;
    font-style: bold;
}

.side-details span {
    font-style: normal;
}

.max-800 {
    max-width: 800px;
}

.add-item {
    padding-bottom: 10px;
}

.large {
    font-size: 24px;
    padding-top: 14px;
}

.small-logo, .small-logo img {
    max-width: 140px;
}

.tight {
    padding: 6px;
}

md-switch {
    margin: 0 15px;
}

plan-list img {
  max-width: 160px;
  max-height: 160px;
  float: right;
}

plan-list img.fullsize {
  max-width: inherit;
  max-height: inherit;
}

plan-list div.list-group {
  cursor: pointer;
}

.shadowItem {
  opacity: 0.5;
  filter: blur(1px);
  filter: grayscale(100%);
}

.floors {
  margin: 5px 10px;
}

.floors > a {
  float: left;
  text-align: center;
  margin-right: 10px;
  color: white;
}

.floors > a:hover {
  color: #ddf;
}

.floors img {
  display: block;
}
