md-sidenav uib-accordion {
    color: #ddd;
}

md-sidenav uib-accordion .large {
    font-size: 35px;
    padding-top: 0px;
	margin-top: 2px;
	margin-bottom: 8px;
    line-height: 0.7;
}

md-sidenav .panel-heading a {
	display: block;
    padding: 10px 20px;
    width: 100%;
    display: block;
}

md-sidenav .panel {
    margin-bottom: 20px;
    background-color: #444;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

md-sidenav .panel-group > .panel-default {
	width: 262px;
}

md-sidenav .panel-default>.panel-heading {
    color: #ccc;
    background-color: #222;
	background-image: none;
    border-color: #fff;
	font-weight: bold;
	padding: 0;
}

md-sidenav .panel-inner {
    margin-bottom: 20px;
    background-color: #333;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

md-sidenav .panel-inner>.panel-heading {
    margin-bottom: 0px;
    background-color: #222;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.25);
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
}

md-sidenav .action {
	width: 25%;
	text-align: center;
	padding: 10px;
	float: left;
}

md-sidenav .actionf {
	width: 32%;
	text-align: center;
	padding: 5px;
	display: inline-block;
	overflow: hidden;
    color: white;
    background: transparent;
	border: none;
	height: 75px;
	cursor: pointer;
}

md-sidenav .action img {
	padding-bottom: 10px;
	width: 40px;
	display: block;
}

md-sidenav .actionf img {
	padding-bottom: 10px;
}

md-sidenav .actionf div {
	padding-top: 5px;
}

md-sidenav .actionf button {
	background: transparent;
	border: none;
}

md-sidenav .md-button ng-md-icon {
	display: block;
    zoom: 1.8;
    line-height: 17px;
}

md-sidenav #fileupload input {
	font-size: 70px !important;
}

md-sidenav #fileupload .large {
	margin-top: -2px;
	padding-bottom: 6px;
}

md-sidenav form button {
    text-align: center;
    padding: 5px;
    color: white;
    background: transparent;
    border: none;
}

md-sidenav button.action:hover, md-sidenav .actionf:hover {
	background-color: #333;
	border-radius: 4px;
}

md-sidenav .actionf input {
	margin-top: 10px;
	-webkit-align-items: center;
	width: 100%;
	background: white;
	color: black;
	font-size: 12px;
	border-radius:4px;
	border:none;
	-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.25);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.25);
	text-align: center;
	margin-bottom: 6px;
}

md-sidenav .full {
	width: 100%;
}
