<div class="overlay-sheet sheet-bg loading" ng-hide="planReady"><spinner active=1></spinner></div>
<canvas ng-right-click="getCurrentAP()" style="position: absolute; left: 20px; right: 40px; z-index: 1"></canvas>

<!-- plan properties -->
<div class="panel-body overlay-sheet sheet-bg" ng-show="plan_properties">
	<button class="btn btn-secondary" ng-click="togglePlanProperties()"><i class="glyphicon glyphicon-backward"></i> Back</button>
    <div class="row">
        <div class="panel-group col-lg-12" id="pp_accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="pp_client">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pp_accordion" href="#collapseClient" aria-expanded="true" aria-controls="collapseClient">
                            Site properties
                        </a>
                    </h4>
                </div>
                <div id="collapseClient" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pp_client">
                    <div class="panel-body">
                        <div class="form-group client" ng-if="!pp_edit['client']">
                            <div class="clickable list-group-item" ng-click="toggleEdit('client')">
								<div class="topright text-right"><i class="glyphicon glyphicon-edit"></i></div>
                                <div><span>Client:</span> <em ng-bind="plan.details.client.name"></em></div>
                                <div ng-if="plan.details.client.logo" class="small-logo">
                                    <img ng-src="{{ plan.details.client.logo }}" />
                                </div>
                                <div><span>Project:</span> <em ng-bind="plan.details.project"></em></div>
                                <div><span>Site:</span> <em ng-bind="plan.details.site"></em></div>
                                <div><span>Building:</span> <em ng-bind="plan.details.building"></em></div>
                                <div><span>Floor:</span> <em ng-bind="plan.floor"></em></div>
                                <div>
                                    <span>Address:</span> <em ng-bind="plan.details.address"></em>
                                    <em ng-bind="plan.details.city"></em> <em ng-bind="plan.details.state"></em> <em ng-bind="plan.details.zipcode"></em>
                                </div>
                                <div>
                                    <span>MSP:</span> <em ng-bind="plan.details.msp.name"></em>
                                    <div ng-if="plan.details.msp.logo">
                                        <img ng-src="{{ plan.details.msp.logo }}" class="small-logo" />
                                    </div>
                                </div>
                                <div>
                                    <span>Designer:</span> <em ng-bind="plan.details.designer.name"></em>
                                    <span ng-if="plan.details.designer.position">, <em ng-bind="plan.details.designer.position"></em> </span>
                                </div>
                            </div>
                        </div>
                        <form ng-show="pp_edit['client']" class="plan-property-item">
                            <div class="form-group row">
                                <label class="col-sm-2 ptop5 text-right form-control-label">Client</label>
                                <div class="col-sm-10"><input type="text" ng-model="plan.details.client.name" class="form-control" placeholder="client name ..." /></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 ptop5 text-right form-control-label">Client Logo</label>
                                <div class="col-sm-10"><input type="text" ng-model="plan.details.client.logo" class="form-control" placeholder="Client logo URL ..." /></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 ptop5 text-right form-control-label">Project</label>
                                <div class="col-sm-10"><input type="text" readonly ng-model="plan.details.project" class="form-control" placeholder="project ..." /></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 ptop5 text-right form-control-label">Site</label>
                                <div class="col-sm-10"><input type="text" readonly ng-model="plan.details.site" class="form-control" placeholder="site ..." /></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 ptop5 text-right form-control-label">Building</label>
                                <div class="col-sm-10"><input type="text" readonly ng-model="plan.details.building" class="form-control" placeholder="building ..." /></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 ptop5 text-right form-control-label">Floor</label>
                                <div class="col-sm-10"><input type="text" ng-model="plan.floor" class="form-control" placeholder="##" /></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 ptop5 text-right form-control-label">Address</label>
                                <div class="col-sm-10"><input type="text" ng-model="plan.details.address" class="form-control" placeholder="address"/></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-offset-2 col-sm-4"><input type="text" ng-model="plan.details.city" class="form-control" placeholder="city" /></div>
                                <div class="col-sm-3"><input type="text" ng-model="plan.details.state" class="form-control" placeholder="state" /></div>
                                <div class="col-sm-3"><input type="text" ng-model="plan.details.zipcode" class="form-control" placeholder="zipcode" /></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 ptop5 text-right form-control-label">MSP</label>
                                <div class="col-sm-10"><input type="text" ng-model="plan.details.msp.name" class="form-control" placeholder="MSP name"/></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 ptop5 text-right form-control-label">MSP logo</label>
                                <div class="col-sm-10"><input type="text" ng-model="plan.details.msp.logo" class="form-control" placeholder="MSP logo URL (gif, jpg, png)"/></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 ptop5 text-right form-control-label">Designer</label>
                                <div class="col-sm-10"><input type="text" ng-model="plan.details.designer.name" class="form-control" placeholder="Designer name"/></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 ptop5 text-right form-control-label">Designer position</label>
                                <div class="col-sm-10"><input type="text" ng-model="plan.details.designer.position" class="form-control" placeholder="Designer position"/></div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary" ng-click="savePlanProperties();">Save</button>
                                        <button type="submit" class="btn btn-default pull-right" ng-click="toggleEdit('client')">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="pp_contacts">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pp_accordion" href="#collapseContacts" aria-expanded="true" aria-controls="collapseContacts">
                            Contacts
                        </a>
						<a href ng-click="addContact()"> <i class="glyphicon glyphicon-plus-sign"></i> </a>
                    </h4>
                </div>
                <div id="collapseContacts" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pp_contacts">
                    <div class="panel-body">
                        <div class="form-group row" ng-hide="pp_edit['contacts']">
                            <div class="col-lg-12">
                                <div class="col-lg-3 clickable list-group-item" ng-repeat="(contactIndex, contact) in plan.details.contacts" ng-click="toggleEdit('contacts', contact)">
									<div class="topright text-right">
										<a href ng-click="removeContact(contactIndex)">
											<i class="glyphicon glyphicon-remove" ng-click="removeContact(contactIndex)"></i>
										</a>
									</div>
                                    <div class="form-group">
                                        <div>
                                            <span>Type:</span> <em ng-bind="contact.type"></em>
                                        </div>
                                        <div><span>Name:</span> <em ng-bind="contact.name"></em></div>
                                        <div><span>Position:</span> <em ng-bind="contact.position"></em></div>
                                        <div><span>Phone:</span> <em ng-bind="contact.phone"></em></div>
                                        <div><span>Email:</span> <em ng-bind="contact.email"></em></div>
                                    </div>
                                </div>
                                <div class="form-group col-log-12" ng-if="!plan.details.contacts.length">
                                    <i>Please add some contacts for this plan.</i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group edit-contact" ng-show="pp_edit['contacts']">
                            <form>
                                <div class="col-lg-12 plan-property-item">
                                    <div class="form-group row">
                                        <label class="col-sm-2 ptop5 text-right form-control-label">Type</label>
                                        <div class="col-sm-10"><input type="text" ng-model="edit_prop.type" class="form-control" placeholder="site contact, installer, etc..."/></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 ptop5 text-right form-control-label">Contact</label>
                                        <div class="col-sm-10"><input type="text" ng-model="edit_prop.name" class="form-control" placeholder="Name"/></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 ptop5 text-right form-control-label">Position</label>
                                        <div class="col-sm-10"><input type="text" ng-model="edit_prop.position" class="form-control" placeholder="Position"/></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 ptop5 text-right form-control-label">Phone</label>
                                        <div class="col-sm-10"><input type="text" ng-model="edit_prop.phone" class="form-control" placeholder="Phone"/></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 ptop5 text-right form-control-label">Email</label>
                                        <div class="col-sm-10"><input type="text" ng-model="edit_prop.email" class="form-control" placeholder="Email"/></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" ng-click="saveContact();">Save</button>
                                            <button class="btn btn-default pull-right" ng-click="toggleEdit('contacts')">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="pp_controllers">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pp_accordion" href="#collapseControllers" aria-expanded="true" aria-controls="collapseControllers">
                            Controllers
                        </a>
                    </h4>
                </div>
                <div id="collapseControllers" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pp_controllers">
                    <div class="panel-body">
                        <div class="form-group row" ng-hide="pp_edit['controllers']">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div>
                                        <label class="form-control-label">Controller Present?</label>
                                        <md-switch aria-label="controller present" ng-change="checkController()" ng-model="plan.details.ctrlPresent">
                                            {{ plan.details.ctrlPresent ? 'YES' : 'Not on this floor' }}
                                        </md-switch>
                                    </div>
                                </div>
                                <div class="col-lg-3 clickable list-group-item" ng-repeat="(ctrlIndex, ctrl) in plan.details.controllers" ng-if="plan.details.ctrlPresent" ng-click="toggleEdit('controllers', ctrl)">
									<div class="topright text-right">
										<!-- a href ng-click="removeController(ctrlIndex)" style="padding-left: 1em;">
											<i class="glyphicon glyphicon-remove"></i>
										</a -->
									</div>
                                    <div class="form-group">
                                        <div>
                                            <span>Country Code:</span> <em ng-bind="ctrl.country"></em>
                                        </div>

                                        <div><span>Model:</span> <em ng-bind="ctrl.sku"></em></div>
                                        <div><span>Description:</span> <em ng-bind="ctrl.description"></em></div>
                                        <div><span>HA:</span>
                                            <span ng-if="ctrl.ha"><i class="glyphicon glyphicon-ok-circle green"></i></span>
                                            <span ng-if="!ctrl.ha"><i class="glyphicon glyphicon-remove-circle red"></i></span>
                                        </div>
                                        <div><span>AP/AM Licenses:</span> <span ng-bind="ctrl.lic.ap.qty"></span></div>
                                        <div><span>PEFNG License:</span>
                                            <span ng-if="plan.details.lic.pefng"><i class="glyphicon glyphicon-ok-circle green"></i></span>
                                            <span ng-if="!plan.details.lic.pefng"><i class="glyphicon glyphicon-remove-circle red"></i></span>
                                        </div>
                                        <div><span>RFP License:</span>
                                            <span ng-if="plan.details.lic.rfp"><i class="glyphicon glyphicon-ok-circle green"></i></span>
                                            <span ng-if="!plan.details.lic.rfp"><i class="glyphicon glyphicon-remove-circle red"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group edit-contact" ng-show="pp_edit['controllers']">
                            <form>
                                <div class="col-lg-12 plan-property-item">
                                    <div class="form-group row">
                                        <label class="col-sm-6 ptop5 text-right form-control-label">Country Code</label>
                                        <div class="col-sm-6"><input type="text" ng-model="edit_prop.country" class="form-control" placeholder="US / CA / JP etc..."/></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-6 ptop5 text-right form-control-label">Model</label>
                                        <div class="col-sm-6"><input type="text" ng-model="edit_prop.sku" class="form-control" placeholder="Model"/></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-6 ptop5 text-right form-control-label">Description</label>
                                        <div class="col-sm-6"><input type="text" ng-model="edit_prop.description" class="form-control" placeholder="Description..."/></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 text-right"><label class="form-control-label">HA</label></div>
                                        <div class="col-sm-6">
                                            <md-switch aria-label="HA" ng-model="edit_prop.ha">HA</md-switch>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-6 text-right form-control-label">AP/AM spares</label>
                                        <div class="col-sm-6"><input type="number" ng-model="edit_prop.lic.ap.spares" class="form-control tight" placeholder="qty" /></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 text-right"><label class="form-control-label">PEFNG License?</label></div>
                                        <div class="col-sm-6">
                                            <md-switch aria-label="PEFNG licences" ng-model="plan.details.lic.pefng">
                                                {{ plan.details.lic.pefng ? 'Yes' : 'No' }}
                                            </md-switch>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 text-right"><label class="form-control-label">RFP License?</label></div>
                                        <div class="col-sm-6">
                                            <md-switch aria-label="RFP licences" ng-model="plan.details.lic.rfp">
                                                {{ plan.details.lic.rfp ? 'Yes' : 'No' }}
                                            </md-switch>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" ng-click="updateLicenses(); savePlanProperties();">Save</button>
                                            <button class="btn btn-default pull-right" ng-click="toggleEdit('controllers')">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>
</div>

<!-- context menu -->
<div class="position-fixed ui-widget-content" id="context_menu" style="position: absolute; z-index: 10000;">
    <div class="panel panel-info">
        <div class="panel-heading ui-widget-header">
            <div class="panel-title">
				<span>{{ menu.mode }}</span> <span class="label label-info" ng-bind="selectedItem.inventory.number"></span>
                <div><a href ng-click="closeMenu()"><i class="panel-control-icon glyphicon glyphicon-remove"></i></a></div>
            </div>
        </div>

        <div class="panel-body dropdown" ng-if="menu.mode == 'wall'">
            <ul class="dropdown-menu">
                <li>
                    <a class="pointer" role="menuitem" tabindex="1" ng-click="deleteWall()">
                        Delete Wall
                    </a>
                </li>
                <li>
                    <a class="pointer" role="menuitem" tabindex="2" ng-click="wallProperties()">
                        Wall Properties
                    </a>
                </li>
            </ul>
        </div>

        <div class="panel-body" ng-show="menu.mode == 'ap'">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Name</label>
                    <div class="col-sm-10"><input type="text" ng-model="selectedItem.inventory.name" class="form-control" placeholder="e.g. AP-hall-01..." /></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Vendor</label>
                    <div class="col-sm-10"><input type="text" ng-model="selectedItem.inventory.vendor" class="form-control" placeholder="name..." /></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Model</label>
                    <div class="col-sm-10"><input type="text" ng-model="selectedItem.inventory.sku" class="form-control" placeholder="number..." /></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" ng-click="saveSelectedItem()">Save</button>
                        <button class="btn btn-danger pull-right" role="menuitem" tabindex="1" ng-click="deleteSelectedItem()"> Delete AP </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-body" ng-show="menu.mode == 'am'">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Name</label>
                    <div class="col-sm-10"><input type="text" ng-model="selectedItem.inventory.name" class="form-control" placeholder="e.g. AM-hall-01..." /></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Vendor</label>
                    <div class="col-sm-10"><input type="text" ng-model="selectedItem.inventory.vendor" class="form-control" placeholder="name..." /></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Model</label>
                    <div class="col-sm-10"><input type="text" ng-model="selectedItem.inventory.sku" class="form-control" placeholder="number..." /></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" ng-click="saveSelectedItem()">Save</button>
                        <button class="btn btn-danger pull-right" role="menuitem" tabindex="1" ng-click="deleteSelectedItem()"> Delete AM </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-body" ng-show="menu.mode === 'idf' || menu.mode === 'mdf'">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Name</label>
                    <div class="col-sm-10"><input type="text" ng-model="selectedItem.inventory.name" class="form-control" placeholder="e.g. IDF-hall-01..." /></div>
                </div>
                <div class="form-group row">
					<md-switch flex ng-model="selectedItem.inventory.mdf" ng-change="toggleMDF()" aria-label="This is the MDF">MDF</md-switch>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" ng-click="saveSelectedItem()">Save</button>
                        <button class="btn btn-danger pull-right" role="menuitem" tabindex="1" ng-click="deleteSelectedItem()"> Delete </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-body" ng-show="menu.mode == 'plan'">
			<div ng-click="togglePlanProperties()">
				<div class="inline"><ng-md-icon icon="settings"></ng-md-icon></div>
				<div class="inline">Floorplan properties</div>
			</div>
		</div>

    </div>
</div>
