<section data-ng-init="findProjects()">
  <div class="page-header">
    <input type="text" class="form-control" ng-model="search" ng-change="findProjects()" ng-model-options="{debounce: 500}" placeholder="search..." />
  </div>

  <div class="list-group">
    <a ng-click="state['create-project'] = true" class="list-group-item">
      <img ng-src="http://placehold.it/320x185?text=Create" class="fullsize" />
    </a>
    <a data-ng-repeat="project in projects" ng-click="selectProject(project)"
      class="list-group-item"
      ng-class="{'shadowItem': selectedProject && project != selectedProject}"
    >
      <small class="list-group-item-text">
        Created on
        <span data-ng-bind="project.created | date:'mediumDate'"></span>
      </small>
      <img ng-src="{{ project.thumb }}" />
      <h4 class="list-group-item-heading" data-ng-bind="project.title"></h4>
    </a>
  </div>

  <div class="list-group" ng-if="selectedProject">
    <h2>Sites <a href ng-click="createSite()" class="btn btn-default">New Site</a></h2>
    <a data-ng-repeat="site in selectedProject.sites" ng-click="selectSite(site)" 
      class="list-group-item"
      ng-class="{'shadowItem': selectedSite && site != selectedSite}"
    >
      <small class="list-group-item-text">
        Created on
        <span data-ng-bind="site.created | date:'mediumDate'"></span><br />
        <span>Buildings: </span><span data-ng-bind="site.buildings.length"></span>
      </small>
      <img ng-src="/uploads/{{ site.thumb }}" />
      <h4 class="list-group-item-heading" data-ng-bind="site.name"></h4>
    </a>
  </div>

  <div class="list-group" ng-if="selectedSite">
    <h2>Buildings <a href ng-click="createBuilding()" class="btn btn-default">New Building</a></h2>
    <a data-ng-repeat="bldg in selectedSite.buildings" ng-href="/#!/building/{{ bldg._id }}" class="list-group-item">
      <small class="list-group-item-text">
        Created on
        <span data-ng-bind="bldg.created | date:'mediumDate'"></span><br />
        <span>Floors: </span><span data-ng-bind="bldg.plans.length"></span>
      </small>
      <img ng-src="/uploads/{{ bldg.thumb }}" />
      <h4 class="list-group-item-heading" data-ng-bind="bldg.name"></h4>
    </a>
  </div>

  <div class="alert alert-warning text-center" data-ng-if="plans.$resolved && !plans.length">
    No plans yet, do you want to <a href="/#!/plans/create">create one</a>?
  </div>

</section>
