<div class="modal fade" style="display: block;">
  <div class="modal-dialog settings">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" id="closeSettings" aria-hidden="true" tabindex="0">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <input type="text" ng-model="item.title" class="form-control" placeholder="Project Name" tabindex="0" ng-if="getType()=='project'">
        <input type="text" ng-model="item.name" class="form-control" placeholder="Site Name" tabindex="0" ng-if="getType()=='site'">
        <input type="text" ng-model="item.name" class="form-control" placeholder="Building Name" tabindex="0" ng-if="getType()=='bldg'">
      </div>
      <div class="modal-body">
        <form>
          <!-- Project Details -->
          <div class="panel-group" ng-if="getType()=='project'">
            <div class="panel-default panel panel-open">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <span> <strong>Project Details</strong> </span>
                </h4>
              </div>

              <div class="panel-body">
                <div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <label for="client_name">Client Name</label>
                      <input type="text" ng-model="item.details.client.name" class="form-control" id="client_name" placeholder="Client Name" tabindex="0">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <label for="partner_name">Partner (MSP)</label>
                      <input type="text" ng-model="item.details.msp.name" class="form-control" id="partner_name" placeholder="Partner Name" tabindex="0">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Building Details -->
          <div class="panel-group" ng-if="getType()=='bldg'">
            <div class="panel-default panel panel-open">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <span> <strong>Building Details</strong> </span>
                </h4>
              </div>

              <div class="panel-body">
                <div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <label for="building_address">Building Address</label>
                      <input type="text" ng-model="item.details.address" class="form-control" id="building_address" placeholder="Building Address" tabindex="0">
                    </div>
                    <div class="col-sm-8">
                      <label for="building_city">City</label>
                      <input type="text" ng-model="item.details.city" class="form-control" id="building_city" placeholder="City" tabindex="0">
                    </div>
                    <div class="col-sm-2">
                      <label for="building_state">State</label>
                      <input type="text" ng-model="item.details.state" class="form-control" id="building_state" placeholder="State" tabindex="0">
                    </div>
                    <div class="col-sm-2">
                      <label for="building_zipcode">Zipcode</label>
                      <input type="text" ng-model="item.details.zipcode" class="form-control" id="building_zipcode" placeholder="Zipcode" tabindex="0">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Team Details -->
          <div class="panel-group" ng-if="type='project'">
            <div class="panel-default panel panel-open">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <span class=""><strong>Team Details</strong></span>
                </h4>
              </div>

              <div class="panel-body">
                <div ng-hide="pp_edit.personnel">
                  <table class="settings" ng-if="item.details.personnel">
                    <tr class="header">
                      <td>Name</td>
                      <td>Email</td>
                      <td>Title</td>
                      <td class="center icon">Remove</td>
                    </tr>
                    <tr ng-repeat="(personnelIndex, personnel) in item.details.personnel track by $index" ng-click="editPersonnel(personnel)">
                      <td><em ng-bind="personnel.name"></em></td>
                      <td><em ng-bind="personnel.email"></em></td>
                      <td><em ng-bind="personnel.title"></em></td>
                      <td class="center">
                        <a href ng-click="askDeletePersonnel(personnelIndex, $event)"> <i class="glyphicon glyphicon-remove"></i> </a>
                      </td>
                    </tr>
                  </table>
                </div>
                <button type="button" class="btn btn-primary btn-sm" ng-click="addPersonnel($event)" tabindex="0">Add Personnel</button>
                <div class="form-group edit-contact" ng-show="pp_edit.personnel">
                  <form>
                    <div class="col-lg-12 plan-property-item">
                      <div class="form-group row">
                        <label class="col-sm-2 ptop5 text-right form-control-label">Name</label>
                        <div class="col-sm-10"><input type="text" ng-model="newPersonnel.name" class="form-control" placeholder="Name"/></div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 ptop5 text-right form-control-label">Title</label>
                        <div class="col-sm-10"><input type="text" ng-model="newPersonnel.title" class="form-control" placeholder="Title"/></div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 ptop5 text-right form-control-label">Email</label>
                        <div class="col-sm-10"><input type="text" ng-model="newPersonnel.email" class="form-control" placeholder="Email"/></div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-primary" ng-click="savePersonnel();">Save</button>
                          <button class="btn btn-default pull-right" ng-click="cancelPersonnel()">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Contact Details -->
          <div class="panel-group">
            <div class="panel-default panel panel-open">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <span class=""><strong>Contact Details</strong></span>
                </h4>
              </div>

              <div class="panel-body">
                <div ng-hide="pp_edit.contact">
                  <table class="settings" ng-if="item.details.contacts">
                    <tr class="header">
                      <td>Name</td>
                      <td>Position</td>
                      <td>Phone</td>
                      <td>Email</td>
                      <td class="center icon">Remove</td>
                    </tr>
                    <tr ng-repeat="(contactIndex, contact) in item.details.contacts track by $index" ng-click="editContact(contact)">
                      <td><em ng-bind="contact.name"></em></td>
                      <td><em ng-bind="contact.position"></em></td>
                      <td><em ng-bind="contact.phone"></em></td>
                      <td><em ng-bind="contact.email"></em></td>
                      <td class="center">
                        <a href ng-click="askDeleteContact(contactIndex, $event)"> <i class="glyphicon glyphicon-remove"></i> </a>
                      </td>
                    </tr>
                  </table>
                  <button type="button" class="btn btn-primary btn-sm" ng-click="addContact($event)" tabindex="0">Add Contact</button>
                </div>
                <div class="form-group edit-contact" ng-show="pp_edit.contact">
                  <form>
                    <div class="col-lg-12 plan-property-item">
                      <div class="form-group row">
                        <label class="col-sm-2 ptop5 text-right form-control-label">Contact</label>
                        <div class="col-sm-10"><input type="text" ng-model="newContact.name" class="form-control" placeholder="Name"/></div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 ptop5 text-right form-control-label">Position</label>
                        <div class="col-sm-10"><input type="text" ng-model="newContact.position" class="form-control" placeholder="Position"/></div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 ptop5 text-right form-control-label">Phone</label>
                        <div class="col-sm-10"><input type="text" ng-model="newContact.phone" class="form-control" placeholder="Phone"/></div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 ptop5 text-right form-control-label">Email</label>
                        <div class="col-sm-10"><input type="text" ng-model="newContact.email" class="form-control" placeholder="Email"/></div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-primary" ng-click="saveContact()">Save</button>
                          <button class="btn btn-default pull-right" ng-click="cancelContact()">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Building Controller -->

          <!-- Building Licenses -->

          <!-- Building Licenses -->

          <!-- Attachments -->
          <div class="panel-group" ng-if="type='project'">
            <div class="panel-default panel panel-open">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <span class=""><strong>Attachments</strong></span>
                </h4>
              </div>

              <div class="actionf">
                <div class="pull-right" style="padding: 20px"><input type="search" ng-model="fileSearch" placeholder="search..." /></div>
                <form id="fileupload" data-ng-controller="pjFileUploadController" 
                    data-item-type="{{ getType() }}" data-accept-extensions="{{ getExtensions() }}"
                    action="/upload" method="POST" enctype="multipart/form-data" data-file-upload="options" 
                    ng-class="{'fileupload-processing': processing() || loadingFiles}" style="padding: 20px 20px 0;">

                  <input type="hidden" name="project" value="{{ getProjectId() }}">
                  <input type="hidden" name="site" value="{{ getSiteId() }}">
                  <input type="hidden" name="bldg" value="{{ getBldgId() }}">

                  <button class="fileinput-button" ng-class="{disabled: disabled}">
                    <i class="glyphicon large glyphicon-cloud-upload"></i>
                    <div>Upload</div>
                    <input type="file" name="files[]" multiple ng-disabled="disabled">
                  </button>
                  <div class="uploadstatus" ng-if="percentdone">
                    <div class="full clear">
                      <br />
                      <!-- The global progress bar -->
                      <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" data-ng-style="{width: percentDone + '%'}"></div>
                      </div>
                      <!-- The extended global progress state -->
                      <div class="progress-extended">&nbsp;</div>
                    </div>
                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                  </div>

                </form>
              </div>

              <div class="panel-body">
                <div>
                  <table class="settings" ng-if="files.length">
                    <tr class="header">
                      <td>File Name</td>
                      <td>Date Added</td>
                      <td class="center icon">Remove</td>
                    </tr>
                    <tr ng-repeat="file in files | filter: fileSearch">
                      <td><a target="_blank" href="/usermedia/{{ item._id }}/{{ file.name }}">{{ file.name }}</a></td>
                      <td>{{ file.time | date : 'M/dd/yy, HH:mm'}}</td>
                      <td class="pull-right">
                        <a href ng-click="askDeleteFile(file, $event)"> <i class="glyphicon glyphicon-remove"></i> </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="text-right">
              <button type="submit" class="btn btn-primary" ng-click="save(true)" tabindex="0">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
