<uib-accordion close-others="false">

	<!-- Details -->
	<uib-accordion-group class="panel-default" is-open="sma.details">
		<uib-accordion-heading>
			Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sma.details, 'glyphicon-chevron-right': !sma.details}"></i>
		</uib-accordion-heading>

		<div class="pull-right">
			<a href ng-click="togglePlanProperties()"><ng-md-icon icon="settings"></ng-md-icon></a><br />
		</div>
		{{ plan.details.client.name || '(project details not set)' }}<br />
		<span>Project:</span> {{ plan.details.project }}<br />
		<span>Site:</span> {{ plan.details.site }}<br />

		<div ng-if="plan.details.address">
			{{ plan.details.address }}<br />
			{{ plan.details.city }}, {{ plan.details.zipcode }}<br />
		</div>

		<span>Floor:</span> {{ plan.floor || 'N/A' }}<br />
		<span> Vendor: {{ plan.details.vendor }}</span><br />
		<span>AP count:</span> {{ getTotalAPs() }}<br />
		<span>AM count:</span> {{ getTotalAMs() }}

		<!-- uib-accordion-group class="panel-inner" is-open="apgroups.open">
			<uib-accordion-heading>
				AP/AM Groups <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': apgroups.open, 'glyphicon-chevron-right': !apgroups.open}"></i>
			</uib-accordion-heading>
			<div>
				AP Group 1: (APcount1)
				<p />
				<p /> AP Group 2: (APcount2)
				<p /> AM Group 1: (AMcount1)
			</div>
		</uib-accordion-group -->

	</uib-accordion-group>

	<!-- Floorplan -->
	<uib-accordion-group class="panel-default" is-open="sma.plan">
		<uib-accordion-heading>
			Floorplan <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sma.plan, 'glyphicon-chevron-right': !sma.plan}"></i>
		</uib-accordion-heading>
		<div class="tools">

			<div class="actionf">
				<input type="text" ng-model="plan.floor" class="elem elem-green input" value="1"><br>
				<div>Floor #</div>
			</div>

			<div class="actionf">
				<form id="fileupload" data-ng-controller="pjFileUploadController"
						  action="/upload" method="POST" enctype="multipart/form-data" data-file-upload="options" 
																	 ng-class="{'fileupload-processing': processing() || loadingFiles}">

					<button class="fileinput-button" ng-class="{disabled: disabled}">
						<i class="glyphicon large glyphicon-cloud-upload"></i>
						<div>Upload</div>
						<input type="file" name="files[]" multiple ng-disabled="disabled">
					</button>
				</form>
			</div>

			<div class="actionf">
				<form>
					<button ng-click="savePlan()"><i class="glyphicon large glyphicon-floppy-save"></i><div>Save</div></button>
				</form>
			</div>

			<div class="uploadStatus" ng-if="percentDone">
				<div class="full clear">
					<br />
					<!-- The global progress bar -->
					<div class="progress progress-striped active">
						<div class="progress-bar progress-bar-success" data-ng-style="{width: percentDone + '%'}"></div>
					</div>
					<!-- The extended global progress state -->
					<div class="progress-extended">&nbsp;</div>
				</div>
				<strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
			</div>

		</div>
	</uib-accordion-group>

	<!-- Tools -->
	<uib-accordion-group class="panel-default" is-open="sma.tools">
		<uib-accordion-heading>
			Tools <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sma.tools, 'glyphicon-chevron-right': !sma.tools}"></i>
		</uib-accordion-heading>
		<div class="tools">
			<div class="action">
				<md-button ng-click="show_walls=false; selectTool('pan')" aria-label="pan-tool" ng-class="{'selected': mouse_mode === 'pan'}">
					<ng-md-icon icon="{{ icons.pan }}"></ng-md-icon>
					Move
				</md-button>
			</div>
			<div class="action">
				<md-button ng-click="show_walls=false; selectTool('ap')" aria-label="ap-placement-tool" ng-class="{'selected': mouse_mode === 'ap'}">
					<img src="modules/plans/images/icons/AP-W.png" />
					AP
				</md-button>
			</div>
			<div class="action">
				<md-button ng-click="show_walls=false; selectTool('am')" aria-label="am-placement-tool" ng-class="{'selected': mouse_mode === 'am'}">
					<img src="modules/plans/images/icons/AM-W.png">
					AM
				</md-button>
			</div>
			<div class="action">
				<md-button ng-click="show_walls=false; selectTool('idf')" aria-label="mdf-placement-tool" ng-class="{'selected': mouse_mode === 'idf'}">
					<img src="modules/plans/images/icons/MDFIDF-W.png">
					IDF
				</md-button>
			</div>
			<div class="action" ng-if="walls">
				<md-button ng-click="show_walls= true; selectTool('wall')" aria-label="wall-placement-tool" ng-class="{'selected': mouse_mode === 'wall'}">
					<img src="modules/plans/images/icons/MDFIDF-W.png">
				</md-button>
			</div>
			<div ng-show="show_walls">
				Wall type: 
				<md-select role="application" ng-model="wall_type" ng-change="selectWallType()">
					<md-option ng-value="wall_id" ng-repeat="(wall_id, wall_type) in wall_types">{{ wall_type.desc }}</md-option>
				</md-select>
			</div>
		</div>
	</uib-accordion-group>

	<!-- Reporting -->
	<uib-accordion-group class="panel-default" is-open="sma.reporting">
		<uib-accordion-heading>
			Reporting <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sma.reporting, 'glyphicon-chevron-right': !sma.reporting}"></i>
		</uib-accordion-heading>
		<button class="btn btn-success full text-justify" ng-click="report()"><i class="glyphicon glyphicon-save-file"></i> Generate Report</button>
	</uib-accordion-group>
</uib-accordion>

