<style>
	.btn-view {
		padding-top: 4px;
		padding-right: : 4px;
		padding-bottom: 4px;
		padding-left: 4px; 
	} 
</style>
<uib-accordion close-others="false">

	<!-- Details -->
	<uib-accordion-group class="panel-default" is-open="sma.details">
		<uib-accordion-heading>
			Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sma.details, 'glyphicon-chevron-right': !sma.details}"></i>
		</uib-accordion-heading>

		<div class="pull-right">
			<a href ng-click="togglePlanProperties()"><ng-md-icon icon="settings"></ng-md-icon></a><br />
		</div>

    <div>
      <span>AP count:</span> {{ getTotalAPs() }}<br />
      <span>AM count:</span> {{ getTotalAMs() }}</span>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <span>Controller:</span></div>
      <div class="col-sm-4"><md-switch aria-label="Controller" ng-model="plan.details.ctrlPresent"></md-switch></div>
    </div>

	</uib-accordion-group>

	<!-- Floorplan -->
	<uib-accordion-group class="panel-default" is-open="sma.plan">
		<uib-accordion-heading>
			Floorplan <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sma.plan, 'glyphicon-chevron-right': !sma.plan}"></i>
		</uib-accordion-heading>
		<div class="tools">

			<div class="actionf">
				<input type="text" ng-model="plan.floor" class="elem elem-green input"><br>
				<div>Floor #</div>
			</div>

			<div class="actionf">
				<form id="fileupload" data-ng-controller="pjFileUploadController" data-accept-extensions="jpe?g|png|gif"
						  action="/upload" method="POST" enctype="multipart/form-data" data-file-upload="options" 
              ng-class="{'fileupload-processing': processing() || loadingFiles}">

          <input type="hidden" name="project" value="{{ project._id }}">
          <input type="hidden" name="site" value="{{ site._id }}">
          <input type="hidden" name="bldg" value="{{ building._id }}">

					<button class="fileinput-button" ng-class="{disabled: disabled}">
						<i class="glyphicon large glyphicon-cloud-upload"></i>
						<div>Upload</div>
						<input type="file" name="files[]" multiple ng-disabled="disabled">
					</button>
				</form>
			</div>

			<div class="actionf">
				<form>
					<button ng-click="savePlan()"><i class="glyphicon large glyphicon-floppy-save"></i><div>Save</div></button>
				</form>
			</div>

			<div class="uploadStatus" ng-if="percentDone">
				<div class="full clear">
					<br />
					<!-- The global progress bar -->
					<div class="progress progress-striped active">
						<div class="progress-bar progress-bar-success" data-ng-style="{width: percentDone + '%'}"></div>
					</div>
					<!-- The extended global progress state -->
					<div class="progress-extended">&nbsp;</div>
				</div>
				<strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
			</div>

		</div>
	</uib-accordion-group>

	<!-- Tools -->
	<uib-accordion-group class="panel-default" is-open="sma.tools">
		<uib-accordion-heading>
			Tools <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sma.tools, 'glyphicon-chevron-right': !sma.tools}"></i>
		</uib-accordion-heading>
		<div class="tools">
			<div class="action">
				<md-button ng-click="show_walls=false; selectTool('pan')" aria-label="pan-tool" ng-class="{'selected': mouse_mode === 'pan'}">
					<ng-md-icon icon="{{ icons.pan }}"></ng-md-icon>
					Move
				</md-button>
			</div>
			<div class="action">
				<md-button ng-click="show_walls=false; selectTool('ap')" aria-label="ap-placement-tool" ng-class="{'selected': mouse_mode === 'ap'}">
					<img src="modules/plans/images/icons/AP-W.png" />
					AP
				</md-button>
				<button class="button" ng-class="{'active': isActive[0]}" ng-click="selectView(0)" type="button">View</button> 
			</div>
			<div class="action">
				<md-button ng-click="show_walls=false; selectTool('am')" aria-label="am-placement-tool" ng-class="{'selected': mouse_mode === 'am'}">
					<img src="modules/plans/images/icons/AM-W.png">
					AM
				</md-button>
				<button class="button" ng-class="{'active': isActive[1]}" ng-click="selectView(1)" type="button">View</button> 
			</div>
			<div class="action">
				<md-button ng-click="show_walls=false; selectTool('idf')" aria-label="mdf-placement-tool" ng-class="{'selected': mouse_mode === 'idf'}">
					<img src="modules/plans/images/icons/MDFIDF-W.png">
					IDF
				</md-button>
				<button class="button" ng-class="{'active': isActive[2]}" ng-click="selectView(2)" type="button">View</button> 
			</div>
			<div class="action" ng-if="walls">
				<md-button ng-click="show_walls= true; selectTool('wall')" aria-label="wall-placement-tool" ng-class="{'selected': mouse_mode === 'wall'}">
					<img src="modules/plans/images/icons/MDFIDF-W.png">
				</md-button>
			</div>
			<div ng-show="show_walls">
				Wall type: 
				<md-select role="application" ng-model="wall_type" ng-change="selectWallType()">
					<md-option ng-value="wall_id" ng-repeat="(wall_id, wall_type) in wall_types">{{ wall_type.desc }}</md-option>
				</md-select>
			</div>
      <div ng-if="mouse_mode=='ap'" class="row">
        <div class="col-sm-12"><strong>AP Groups </strong><br /></div>
        <div class="col-sm-12 apgroups">
          <div class="row" ng-repeat="(ap, count) in plan.stage.apGroups">
            <div class="col-sm-8">
              <button class="button btn-block text-left" ng-class="{'active': activeGroup[ap]}" ng-click="selectDefaultAP(ap)">
                <span>{{ ap }}:</span>
                <span class="pull-right">{{ count }}</span>
              </button>
            </div>
            <div class="col-sm-4">
              <button class="button" ng-class="{'active': isActive[$index + 3]}" ng-click="selectView($index + 3)" type="button">View</button> 
            </div>
          </div>
        </div>
      </div>
    </div>
	</uib-accordion-group>

  <!-- Hardware -->
  <uib-accordion-group class="panel-default" is-open="sma.hardware">
    <uib-accordion-heading>
      Hardware <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sma.hardware, 'glyphicon-chevron-right': !sma.hardware}"></i>
    </uib-accordion-heading>
    <div class="row">
      <div class="col-sm-3">AP:</div>
      <div class="col-sm-8">
        <input type="text" ng-model="bldgResource.details.inventory.aps" placeholder="Default AP model..." class="elem elem-green input"
                           typeahead-on-select="updateHardware()"
                           uib-typeahead="ap.sku for ap in getAps($viewValue)" 
                           typeahead-loading="loadingAP" 
                           typeahead-no-results="noResultsAP" />
        <i ng-show="loadingAP" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResultsAP"> <i class="glyphicon glyphicon-remove"></i> No Results Found </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">AM:</div>
      <div class="col-sm-8">
        <input type="text" ng-model="bldgResource.details.inventory.ams" placeholder="Default AM model..." class="elem elem-green input"
                           typeahead-on-select="updateHardware()"
                           uib-typeahead="ap.sku for ap in getAps($viewValue)" 
                           typeahead-loading="loadingAM" 
                           typeahead-no-results="noResultsAM" />
        <i ng-show="loadingAM" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResultsAM"> <i class="glyphicon glyphicon-remove"></i> No Results Found </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">MT:</div>
      <div class="col-sm-8">
        <input type="text" ng-model="bldgResource.details.inventory.mounts" placeholder="Default mounts..." class="elem elem-green input"
                           typeahead-on-select="updateHardware()"
                           uib-typeahead="mount.sku for mount in getMounts($viewValue)" 
                           typeahead-loading="loadingMountsResults" 
                           typeahead-no-results="noResultsMounts" />
        <i ng-show="loadingResultsMounts" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noMountsResults"> <i class="glyphicon glyphicon-remove"></i> No Results Found </div>
      </div>
    </div>
  </uib-accordion-group>

	<!-- Reporting -->
	<uib-accordion-group class="panel-default" is-open="sma.reporting">
		<uib-accordion-heading>
			Reporting <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sma.reporting, 'glyphicon-chevron-right': !sma.reporting}"></i>
		</uib-accordion-heading>
		<button class="btn btn-success full text-justify" ng-disabled="!planReady" ng-click="toggleBuildReport()"><i class="glyphicon glyphicon-save-file"></i> Build Report</button>
		<!--button class="btn btn-success full text-justify" ng-disabled="!planReady" ng-click="signal()"><i class="glyphicon glyphicon-save-file"></i> Signal</button -->
	</uib-accordion-group>
</uib-accordion>

<script type="text/ng-template" id="infoModal.html">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">Info</h2>
        </div>
        <div class="modal-body">
          <p>{{ info }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</script>
