/* puddleJump Reports v1 CSS*/

/* Contents

1. Color Reference
2. Core Layout Styles
3. Card Styles
4. Unique Styles
	4.1 Cover Page
	4.2 BOM Page
	4.3 Floorplan Pages
	4.4 Thank You Page

End Contents */

/* 1. Color Reference

Blue: #205299
Dark Blue: #002050
Green: #11a04c
Dark Green: #005422
Grey: #333333
Light Grey: #cdc9c8
Yellow: # d4cc26<-- We don't really use this yet, but just in case. It's sort of a living color scheme for now.
Black: #000000 <-- Duh
White: #ffffff <-- Duh

End Section */

/* 2. Core Layout */

body {
	background-image:url(tile1.png); /* When converting to PDF, see if you can ignore this line. Not sure how it would affect printing. If it's an issue, it can be removed completely. I just really like this pattern in terms of subtly enforcing brand recognition. */
	font-family: 'Roboto', sans-serif;
	color: #333333;
	margin-top: 0;
}

#container {
	width: 612px;
	margin: 0 auto;
}

.page {
	height: 792px;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px #333333;
	margin-bottom: 10px;
}

.header {
	height: 90px; /* Total header height is 108px */
	padding: 9px; /* 9px is equivalent to 1/8th inch at standard resolution */
}

.headertitle {
	float: left;
}

.headertitle h1, h2 {
	margin: 0px;
}

.content {
	height: 616px; /* Remaining height for content. Top and bottom padding dictated by header and footer */
	padding: 0px 9px 0px 9px; /* Left and right padding for consistency with page margins */
}

.content p {
	padding: 9px;
	margin: 0px;
}
.footer {
	height: 50px; /* Total header height is 108px */
	padding: 9px; /* 9px is equivalent to 1/8th inch at standard resolution */
}

.clientlogo {
	width: 180px;
	height: 72px;
	float: right;
}

.msplogo {
	float: left;
	width: 160px;
	height: 50px;
}

.pjlogo {
	float: right;
	width: 136px;
	height: 30px;
	padding-top: 20px;
}

/* End Section */

/* 3. Card Styles */

/* Class Examples

	'full' : Tables
	'half' : 'Project Details'
	'third' : 'APs' and 'AMs'
	'small' : 'Mounts' and 'SFPs'

'half' has left and right versions
'third' has left and right versions, and must be followed by 'small'

End Class Examples*/

.full {
	width: 592px;
	margin-top: 9px;
	border: #cdc9c8 1px solid;
	box-shadow: 0px 2px 4px 0px #cdc9c8;
	float: left;
}

.halfleft {
	width: 292px;
	margin-top: 9px;
	border: #cdc9c8 1px solid;
	box-shadow: 0px 2px 4px 0px #cdc9c8;
	float: left;
}

.halfright {
	width: 292px;
	margin-top: 9px;
	border: #cdc9c8 1px solid;
	box-shadow: 0px 2px 4px 0px #cdc9c8;
	float: right;
}

.third {
	width: 208px;
	margin: 9px 9px 0px 0px;
	border: #cdc9c8 1px solid;
	box-shadow: 0px 2px 4px 0px #cdc9c8;
	float: left;
}

.smallstack { /*Container to force stacking of small cards */
	float: right;
}

.small {
	width: 154px;
	margin-top: 9px;
	border: #cdc9c8 1px solid;
	box-shadow: 0px 2px 4px 0px #cdc9c8;
}

.cardtitleblue {
	width: 100%;
	height: 25px;
	background-color:#205299;
	color: #ffffff;
	text-align: right;
	font-weight: bold;
}

.cardtitledarkblue {
	width: 100%;
	height: 25px;
	background-color:#002050;
	color: #ffffff;
	text-align: right;
	font-weight: bold;
}

.cardtitlegreen {
	width: 100%;
	height: 25px;
	background-color:#11a04c;
	color: #ffffff;
	text-align: right;
	font-weight: bold;
}

.cardtitledarkgreen {
	width: 100%;
	height: 25px;
	background-color:#005422;
	color: #ffffff;
	text-align: right;
	font-weight: bold;
}

.cardtitlegray {
	width: 100%;
	height: 25px;
	background-color:#333333;
	color: #ffffff;
	text-align: right;
	font-weight: bold;
}

.cardtitleblack {
	width: 100%;
	height: 25px;
	background-color:#000000;
	color: #ffffff;
	text-align: right;
	font-weight: bold;
}

/* End Section */

/* 4. Unique Styles */

	/* 4.1 Cover Page */

.details {
	height: 108px;
}

.contacts { /*Still working on getting the spacing right for this...*/
	max-height: 108px;
	column-count: 3;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-fill: balance;
	-webkit-column-fill: balance;
	-moz-column-fill: balance;
	font-size: 12px;
	line-height: 15px;
}

	/* End Subsection */

	/* 4.2 BOM Page */

.aps {
	height: 130px;
	font-size: 100px;
	font-weight: bold;
	text-align: right;
	color: #11a04c;
	background: url(ap.png);
	background-repeat: no-repeat;
}

.ams {
	height: 130px;
	font-size: 100px;
	font-weight: bold;
	text-align: right;
	color: #205299;
	background: url(am.png);
	background-repeat: no-repeat;
}

.mounts {
	height: 38px;
	text-align: right;
	font-size: 38px;
	font-weight: bold;
	color: #333333;
}

.sfps {
	height: 38px;
	text-align: right;
	font-size: 38px;
	font-weight: bold;
	color: #000000;
}

.controllers {
	text-align: justify;
}

.licenses {
	max-height: 50px;
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

.bom {
	height: 200px;
	border-collapse: collapse;
}

.bom th {
	background-color: #205299;
	color: #ffffff;
	font-size: 16px;
	vertical-align: middle;
	padding-left: 10px;
}

.bom td {
	font-size: 12px;
	vertical-align: middle;
	border-bottom: 1px solid #cdc9c8;
	border-right: 1px solid #cdc9c8;
	padding-left: 10px;
}

	/* End Subsection */

	/* 4.3 Floorplan Page */

.floor {
	max-width: 592px;
}

.placements {
	height: 160px;
	font-size: 11px;
	column-count: 3;
	-webkit-column-count: 3;
	-moz-column-count: 3;
}

span.am {
	background-image: url(ambullet.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	line-height: 20px;
	padding: 5px 5px 5px 4px;
	margin-right: 5px;
}

span.ap {
	background-image: url(apbullet.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	line-height: 20px;
	padding: 5px 5px 5px 4px;
	margin-right: 5px;
	color: #ffffff;
}

	/* End Subsection */

	/* 4.4 Thank You Page */

.tycontent {
	padding-top: 210px; /* Left and right padding for consistency with page margins */
	align-content: center;
}

.tycontent img {
	padding-top: 50px;
}

.tycard {
	width: 460px;
	height: 200px;
	background-color: #205299;
	background-image: url(tile2.png);
	box-shadow: 0px 2px 4px 0px #cdc9c8;
}

.tycard p {
	color: white;
	text-align: center;
	font-weight: bolder;
	font-size: 60px;
	padding-top: 50px;
}
	/* End Subsection */

/* End Section */
